@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.slide {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
} 

#image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 380px;
  width: 60%;
}

.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #CBC1BE;
   
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.open {
  background-color: #557572; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.slideshowmain {
  display: flex;
  flex-direction: row;
  padding: 0px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.flex-gap > div {
  margin: 6px;
}

.slideshow {
  height: 300px;
  margin-left: auto;
  margin-right: 50%;
}

.container2 {
  position: relative;
  width: 45%;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container2:hover .image2 {
  opacity: 0.3;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #557572;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.des {
  padding-top: 200px;
  padding-right: 90px;
}

.pexeldes {
  line-height: center;
}

.blackback {
  background-color: #46786C;
}

#space {
  padding:900px;
}

.second {
  background-color: #46786C;
}

.dork {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 1000px;
}

.top {height: 500px}

.textBox {
  width: 300px;
  margin-right: 90px;
}

input[type=email] {
  border: 1px solid #555;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background-color: #555;
  color: white;
  font-size: 32px;
  padding-left: 20px;
}
input[type=submit] {
  border: 2px solid #555;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: white;
  background-color: #555;
  
}

