@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #AEC5B3;
  scrollbar-color: #AEC5B3 yellow;

}

.scr-elem {
  scrollbar-color: #AEC5B3 yellow;
}

a{
  text-decoration:none;
  font-family: 'Nunito', sans-serif;
}

.App {
  background-image: url("mainPageImage.jpg");
  margin-top: 0px;
  height: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link {
  padding: 30px;
  order: 7;
  font-weight: bolder;
  font-weight: bolder;
}

.nav-link:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

ul {
  display: flex;
  flex:1 1 1 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 17px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  color: white;
  order: 7;
}

nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: white;
}

.classTitle {
  margin-top: 0px;
  padding-right: 750px;
  color:rgb(255, 255, 255);
}

.classTitle h1 {
  padding-top: 190px;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
  font-size: 190px;
  text-align: center;
  margin: 0;
  padding-right: 130px;
}
.classTitle h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: lighter;
  font-size: 105px;
  line-height: 0px;
  text-align: center;
  margin-top: 0;
}

#description {
  padding-left: 550px;
  padding-top: 220px;
  width: 860px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 23px;
}

p {
  text-align: center;
}

span {
  color: black;
}

#small {
  margin-right: 170px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.scr-elem::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scr-elem {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


