@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import "react-slideshow-image/dist/styles.css";
@import 'react-slideshow-image/dist/styles.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CBC1BE;
  scrollbar-color: #AEC5B3 yellow;
  
}

.scr-elem {
  scrollbar-color: #AEC5B3 yellow;
}
div {
  transition-delay: 1s;
}

a{
  text-decoration:none;
  font-family: 'Nunito', sans-serif;
}

.App {
  background-image: url("mainPageImage.jpg");
  margin-top: 0px;
  height: 803px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-link {
  padding: 30px;
  order: 7;
  font-weight: bolder;
  font-weight: bolder;
}

.nav-link1:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.rightNav {
  padding: 0;
}
#git:hover {
  font-size: 19px; 
}

ul {
  display: flex;
  flex:1 1 1 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 17px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  color: white;
  order: 7;
}

ul.rightNav {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 17px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-top:25px;
  padding: 0px;
}

nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: white;
}

.classTitle {
  position: absolute;
  padding-top: 50px;
  padding-right: 40%;
  padding-left: 10%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  color:rgb(255, 255, 255);
}

.classTitle h1 {
  position: absolute;
  padding-top: 190px;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
  font-size: 11vw;
  text-align: center;
  margin: 0;
  padding-right: 130px;
}
.classTitle h2 {
  position: absolute;

  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: lighter;
  font-size: 6vw;
  text-align: center;
}


#description {
  padding-top: 770px;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

#footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content:center;
  width: fullx;
  background-color: #555;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
}

#mainDes {
  text-align: center;
  color: white;
  font-size: 1.4vw;
}

#mainDes2 {
  color: white;
  font-size: 28px;
  padding-top: auto;
  width: 700px;
}
span {
  color: black;
}

#small {
  padding-top: 10px;
  padding-left: 250px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

 /* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
} 

#logo {
  width: 60px;
  transition-duration: 0.5s;
}

#logo:hover {
  width: 80px;
  transition-duration: 0.5s;

}
#logo2 {
  width: 25px;
  transition-duration: 0.5s;

}

#logo2:hover {
  width: 40px;
  transition-duration: 0.5s;

}
#logo3 {
  width: 27px;
}



img {
  z-index: -1;
}

.login{
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-left: 90px;
  padding-right: 90px;
} 

#mid {
  margin-left: auto;
  margin-right: 62.5%;
  padding-bottom: 40px;
}

#text-box {
  background-color: white;
  color: black;
  border-color: white;
}